.clients {
    margin-top: 94px;
}
.about-clients {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}
.about-clients__img {
    & + & {
    margin-left: 30px;
    }
}
.about-clients__link {
    width: 170px;
    height: 92px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    color: #AFB1B8;
    transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus {
        border: 1px solid #2196F3;
    }
    &:hover .about-clients__icon,
    &:focus .about-clients__icon {    
        fill: #2196F3;        
    }
}
.about-clients__icon {
    fill: #AFB1B8;
    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}