.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}



.footer__link-adress {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    display: inline-block;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus{
        color: var(--accent-color);
    }
    
}
.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus {
        color: var(--accent-color);
    }
}
.list2 li:not(:last-child) {
    margin-bottom: 9px;    
}

.footer-name-2-list {
    display: flex;
    justify-content: center;
}
.footer__social-item {
    & + & {
    margin-left: 10px;
    }
}
.footer__social-link {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    @extend %align-list;
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus {
        background-color: #2196F3;
    }
    &:hover .footer__social-icon,
    &:focus .footer__social-icon {
        fill: #FFFFFF;
    }
}
.footer__social-icon {
    fill: #ffffff;
    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-all {
    display: flex;     
}
.footer-two {
    margin-left: 70px;
}
.footer-name-2, .footer-name-3 {
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 12px;
}
.footer-three {
    margin-left: 93px;

}
.footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
