.site-list__item {
    margin-right: 50px;
}

.site-list__item:last-child {
    margin-right: 0;
}
.header__container {
    @extend %align-list;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.list {
    display: flex;
    margin-left: auto;
    list-style: none;
    font-weight: 500;
    justify-content: space-evenly    ;
    align-items: center;

  }
  
.site-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--header-color);
    display: block;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus {
        color: #2196F3;
    }
}


.connect__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--text-color);
    @extend %align-list;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus {
        color: #2196F3;
    }
    &:hover .connect__img,
    &:focus .connect__img {
        fill: #2196F3;
    }
}
.connect__name:last-child {
    margin-left: 50px;
}

.header-contacts {
    margin-left: auto;
    display: flex;    
}

.connect__img {
    align-items: center;
    margin-right: 10px;
    fill: var(--text-color);
    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}