.images {
    padding-top: 0px;
    padding-bottom: 94px;
    background-color: white;
}
.after-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
}
.images-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    
}
.images-list__img {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    position: relative;
    list-style-type: none;
}
.images-list__text {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    width: 370px;
    height: 70px;
    padding: 27px 82px 27px 82px;
    display: flex;
    transform: translateY(-100%);
    
}