.about-team {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px;
    margin-bottom: -30px;    
}

.about-team__name {
    padding-top: 30px;
    padding-bottom: 10px;
}

.about-team__img {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #ffff;
}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.about-team__name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.about-team__profession {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
}
.about-team__content {
    margin-bottom: 30px;
}
