.about-team__name {
    padding-top: 30px;
    padding-bottom: 10px;
}
.about-team__img {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    margin-top: 30px;
    width: 100%;
    @media screen and (min-width: 768px) {
        text-align: left;
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-top: 30px;
      }
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
            }
}
.about-team {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
        
}
}
.about-team__social-list {
    padding-bottom: 24px;
}
.team {        
        background-color: #F5F4FA;
        &-img {
            width: 100%;
        }
        padding-top: 60px;
        padding-bottom: 60px;
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.about-team__name {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--second-title-color);
        @media screen and (min-width: 768px) {
        font-weight: 500px;
    }
}
    .about-team__profession {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-color);
        margin-bottom: 16px;
    }
    .after-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 30px;
    }
    