.hero__btn {
    font-family: inherit; 
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--btn-color);
    background: #2196F3;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 200px;
    
}
.hero-list-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background: #F5F4FA;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 6px 22px;
    margin-right: 8px;
    display: inline-block;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,&:focus {
        color: var(--btn-color);
        background: #2196F3;
    }
}
.list-btn {
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    @extend %align-list; 
    justify-content: center;
    
}
.footer-button {
    margin-left: 12px;
    margin-top: 48px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 28px;
}
.footer-button-icon {
    margin: 13px 28px 13px 10px;
}