.backdrop {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    transition: opacity 500ms, visibility 500ms;
}
.backdrop.is-hidden .modal{
    transform: scale(0.5);
}
.modal {
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms;
    transition-property: background-color;
    padding: 35px;
    &:hover {
    transition: transform 500ms;
    }
    &-close {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        @extend %align-list;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 8px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        padding: 0;
    }
}

.modal-close-icon {
    color: #000000;
    align-items: center;
    justify-content: center;
    &:hover,&:focus {
        fill: #2196F3;
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
.input-text {
    font-size: 12px;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}
.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    cursor: pointer;
    transition: 500ms;
    &:focus,&:hover {
        border-color:  #2196F3;
        }
    &:focus + .input-icon,
    &:hover + .input-icon {
        fill: #2196F3;    
        }
}

.form-firld {
    margin-bottom: 10px;    
}
.form-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    resize: none;
    transition: 500ms;
    cursor: pointer;
    &:hover {
        border-color:  #2196F3;
    }
}

.checkbox-button {
    position: absolute;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 124px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    justify-content: center;
    border: none;
}


.input-wrap {
    position: relative;
    &:hover,&:focus {
        border-color: #2196F3;
    }
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 500ms;
}
.check-text {
    font-size: 14px;
    color: hsl(0, 0%, 46%);
    line-height: 24px;
    margin-top: 20px;
    @extend %align-list;
    &::before {
        content: "";
        width: 15px;
        height: 15px;
        border: 2px solid #000000;
        border-radius: 2px;
       margin-right: 7px;
    }
}

.policy-check:checked + .check-text {
    &::before {
        border: none;
        background-image: url(../images/icon\check.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.check-text-policy {
    color: #2196F3;
    text-decoration: underline;
}