.header {
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}
.current {
    color: #2196F3;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        height: 5px;
        border-radius: 3px;
        position: absolute;
        background-color: #2196F3;
        left: 0;
        bottom: -32px;
    
    }
}